<div class="clear40"></div>
<span id="blogintro">I'll be honest—I'm not really sure where the line between "writing" and "blogging" lies (though I do think it exists).  I started this page when I found myself uncomfortable posting various disposable musings alongside things like my novel draft or my educational proposals.  Currently, I'm thinking of this as the analog of an ongoing television series, while the Writing page is an archive of completed, stand-alone movies.  No doubt some things will cross the line in one direction or the other; I have faith that my fellow humans will forgive me.</span>
<div class="clear40"></div>
<section ng-repeat="post in bloglist" class="projectContainer">
	<div class="thumbBox">
		<a ng-href="#blog/{{post.name}}">
			<img class="projectCover" ng-src="{{post.imageURL}}">
		</a>
	</div>
	<div class="blurbBox">
		<a ng-href="#blog/{{post.name}}">
			<span class="itemTitle montserrat">{{post.title}}</span>
		</a>
		<span class="itemTime raleway">{{post.time}}</span>
		<span class="itemBlurb raleway">{{post.blurb}}</span>
	</div>
</section>
