

<!--Selection filters for design, writing, and art pages-->
<div class="fieldHeader">
	<select class="options sbGray" ng-show="'{{field}}' === 'design'" ng-model="filter.tag">
	  <option value="education">Education</option>
	  <option value="parkour">Parkour</option>
	  <option value="games">Games & Toys</option>
	  <option value="graphic">Graphic Design</option>
	  <option value="">Show All</option>
	</select>
	<select class="options sbGray" ng-show="'{{field}}' === 'writing'" ng-model="filter.tag">
	  <option value="fiction">Fiction</option>
	  <option value="education">Education</option>
	  <option value="essays">Essays/Articles</option>
	  <option value="poetry">Poetry</option>
	  <option value="legal">Legal/Technical</option>
	  <option value="">Show All</option>
	</select>
	<select class="options sbGray" ng-show="'{{field}}' === 'art'" ng-model="filter.tag">
	  <option value="2d">2D</option>
	  <option value="3d">3D</option>
	  <option value="digital">Digital</option>
	  <option value="">Show All</option>
	</select>
</div>

<!--Populated project list-->
<div ng-switch="linkType">
	<!-- Field pages with no special hover functionality on thumbnails -->
	<div ng-switch-when="noHover">
		<section ng-repeat="snippet in snippets | filter:filter" class="projectContainer">
			<div class="thumbBox">
				<a ng-href="#{{field}}/{{snippet.name}}">
					<img class="projectCover" ng-src="{{snippet.imageURL}}">
				</a>
			</div>
			<div class="blurbBox">
				<a ng-href="#{{field}}/{{snippet.name}}">
					<span class="itemTitle montserrat">{{snippet.title}}</span>
				</a>
				<span class="itemTime raleway">{{snippet.time}}</span>
				<span class="itemBlurb raleway">{{snippet.blurb}}</span>
			</div>
		</section>
	</div>
	<!-- Field pages with special hover functionality on thumbnails -->
	<div ng-switch-when="hover">
		<section ng-repeat="snippet in snippets | filter:filter" class="projectContainer">
			<div class="thumbBox" ng-mouseenter="showButtons=true" ng-mouseleave="showButtons=false">
				<img class="projectCover" ng-src="{{snippet.imageURL}}">
				<div ng-show="showButtons">
					<div class="thumbMask"></div>
					<a ng-href="{{snippet.liveLinkURL}}">
						<button class="buttons innerButtonTop">{{snippet.liveLinkText}}</button>
					</a>
					<a ng-href="{{snippet.sourceLinkURL}}">
						<button class="buttons innerButtonBottom">{{snippet.sourceLinkText}}</button>
					</a>
				</div>
			</div>
			<div class="blurbBox">
				<a ng-href="{{snippet.sourceLinkURL}}">
					<span class="itemTitle montserrat">{{snippet.title}}</span>
				</a>
				<span class="itemTime raleway">{{snippet.time}}</span>
				<span class="itemBlurb raleway">{{snippet.blurb}}</span>
			</div>
		</section>
	</div>
</div>