
<div ng-switch="format">
	<!-- This section describes basic image-and-caption project pages. -->
	<div ng-switch-when="basic">
		<div class="titleWithIntro">
			<span class="projectTitle montserrat">{{contents['title']}}</span>
			<a class="projectIntro raleway" ng-show="contents['gym'] === true" href="https://www.youtube.com/watch?v=aJiOScpdaM8">(To see this and many of my other designs in action, click here for the Parkour Visions sampler.)</a>
			<span class="projectIntro raleway" ng-repeat="paragraph in contents['intro']">
			{{paragraph}}</span>
		</div>
		<div class="imgWithCap" ng-repeat="img in contents['imageURLs']">
				<img class="projectImage" ng-src="{{img}}">
				<span class="projectBlurb raleway">{{contents['blurbs'][$index]}}</span>
		</div>
	</div>
	<!-- This section describes basic video project pages. -->
	<div ng-switch-when="video">
		<div class="titleWithVids">
			<span class="projectTitle montserrat">{{contents['title']}}</span>
			<div class="vidWithCap" ng-repeat="vid in contents['videoURLs']">
				<iframe class="embeddedVid" width="640" height="480" frameborder="0" allowfullscreen ng-src="{{vid | trustURL}}"></iframe>
				<span class="projectBlurb raleway">{{contents['blurbs'][$index]}}</span>
			</div>
		</div>
		<span class="projectIntro raleway" ng-repeat="paragraph in contents['intro']">{{paragraph}}</span>
	</div>
	<!-- This section describes pages that reproduce articles in their original formats from image files. -->
	<div ng-switch-when="article">
		<div class="titleWithIntro">
			<span class="projectTitle montserrat">{{contents['title']}}</span>
			<span class="projectIntro raleway" ng-repeat="paragraph in contents['intro']">
			{{paragraph}}</span>
		</div>
		<a class="articleLink sbGray" ng-show="{{hasLink}}" ng-href="{{contents['articleLink']}}">Click here for original source.</a>
		<div class="wholePageWithBlurb" ng-repeat="page in contents['articleURLs']">
			<img class="articlePage" ng-src="{{page}}">
			<span class="projectBlurb raleway">{{contents['blurbs'][$index]}}</span>
		</div>
	</div>
	<!-- This section describes pages that reproduce articles in their original formats from PDF files. -->
	<div ng-switch-when="pdf">
		<div class="titleWithIntro">
			<span class="projectTitle montserrat">{{contents['title']}}</span>
			<span class="projectIntro raleway" ng-repeat="paragraph in contents['intro']">
			{{paragraph}}</span>
		</div>
			<a class="articleLink sbGray" ng-show="{{hasLink}}" ng-href="{{contents['articleLink']}}">Click here for original source.</a>
			<object ng-repeat="doc in contents['pdfURLs']" data="{{doc}}" type="application/pdf" width="800" height="1050" class="articlePage">
	</div>

</div>