<div class="itemContainer" ng-repeat="(key, val) in contents">
	<span class="projectTitle montserrat" ng-show="key == 'title'">{{val}}</span>
	<iframe width="640" height="480" frameborder="0" allowfullscreen ng-src="{{val}}" ng-show="key === 'videoURL'"></iframe>
	<span class="projectImage" ng-show="key | filter:imageFilter"><img ng-src="{{val}}"></span>
	<span class="projectCaption" ng-show="key === 'caption'">{{val}}</span>
	<span class="projectBlurb" ng-show="key === 'blurb'">{{val}}</span>
	<span class="projectLink" ng-show="key === 'link'"><a ng-href="{{val.URL}}">{{val.text}}</a></span>
</div>



