<a id="art" class="icon animated flipInX" href="html/art.html"></a>
<a id="design" class="icon animated flipInX" href="html/design.html"></a>
<a id="apparel" class="icon animated flipInX" href="html/apparel.html"></a>
<a id="writing" class="icon animated flipInX" href="html/writing.html"></a>
<a id="video" class="icon animated flipInX" href="html/video.html"></a>
<a id="code" class="icon animated flipInX" href="html/code.html"></a>
<a id="about" class="icon animated flipInX" href="https://docs.google.com/document/d/1eP-rco_bX4ENIN7D2nUgKqB8Fjs6ekZxCEkmDjn_KrE/edit?usp=sharing"></a>